#input-group {
  margin-bottom: 5px;
}

#input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: 0;
  padding: 1rem;
  height: 2.25em;
}

#input-schema {
  font-style: italic;
  vertical-align: top;
  font-size: 10px;
}
