::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2e2e2e;  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2e2e2e;
}
